footer {
  .subscribe-wrap {
    padding: 9rem 0;
    overflow: hidden;
    position: relative;
    .subscribe-text {
      color: var(--text-color);
    }
    .form-wrap {
      height: 100%;
      display: flex;
      align-items: center;
      form#subscribe {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        &::before {
          content: '';
          position: absolute;
          top: -0.8rem;
          left: -0.8rem;
          right: -0.8rem;
          bottom: -0.8rem;
          background: rgba(255, 255, 255, 0.18);
          border-radius: 0.4rem;
        }
        input {
          background: #fff;
          height: 5rem;
          line-height: 5rem;
          border-radius: 0.4rem;
          padding: 0 12rem 0 1.5rem;
          border: 0.1rem solid rgba(255, 255, 255, 0.21);
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          flex: 1;
        }
        button {
          height: 5rem;
          line-height: 5rem;
          box-shadow: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border: none;
          position: relative;
          z-index: 2;
        }
      }
    }
  }
  .footer-content {
    .widget {
    }
    .main-footer {
      margin-top: 7rem;
      .footer-item {
        h3 {
          font-size: 1.4rem;
          text-transform: uppercase;
          margin-bottom: 3rem;
          border-bottom: 0.1rem solid rgba(255, 255, 255, 0.11);
          padding-bottom: 2.5rem;
        }
        .contact {
          p {
            line-height: 2;
          }
          .contact-list {
            margin: 2rem 0 !important;
            padding: 1.5rem 0 !important;
            border-top: 0.1rem dashed rgba(255, 255, 255, 0.21);
            border-bottom: 0.1rem dashed rgba(255, 255, 255, 0.21);
            li {
              padding: 1rem 0;
              font-size: 1.3rem;
              font-weight: 500;
              display: flex;
              align-items: center;
              span {
                color: var(--sub-text-color);
                i {
                  color: var(--secondary);
                  margin-right: 0.6rem;
                }
              }
              a {
                margin-left: 0.4rem;
                padding-top: 0;
                line-height: 1;
              }
            }
          }
        }

        .posts {
          .post-list {
            .post-item {
              padding: 1.2rem 0;
              margin-bottom: 1rem;
              width: 100%;
              display: flex;
              .post-img {
                display: inline-block;
                width: 30%;
                img {
                  border-radius: 0.4rem;
                }
              }
              .post-title {
                width: 70%;
                padding-left: 2rem;
                position: relative;
                &::before {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 2rem;
                  right: 0;
                  height: 0.1rem;
                  border-bottom: 0.1rem dashed rgba(255, 255, 255, 0.21);
                }
                a,
                span {
                  padding-top: 0;
                  display: block;
                  margin-bottom: 1rem;
                  line-height: 1;
                }
                span {
                  color: var(--sub-text-color);
                }
              }
            }
          }
        }

        .socials {
          span {
            font-weight: 600;
            padding-right: 3rem;
            font-size: 1.4rem;
          }
          ul {
            li {
              margin-right: 1.4rem;
              a {
                display: inline-block;
                text-align: center;
                font-size: 1.3rem;
                width: 3.2rem;
                height: 3.2rem;
                line-height: 3.2rem;
                background: rgba(255, 255, 255, 0.05);
                border: 0.1rem solid rgba(255, 255, 255, 0.11);
                border-radius: 0.4rem;
                i {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }

    .support {
      margin: 5rem 0;
      .cs-contact-wrap {
        display: flex;
        align-items: center;
        height: 100%;
      }
      .cs-number-wrap {
        position: relative;
        padding: 2.5rem 3rem 1.5rem 4.5rem;
        border-radius: 0.4rem;
        background: rgba(0, 0, 0, 0.04);
        overflow: hidden;
        border: 0.1rem solid rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .bg-icon {
          position: absolute;
          color: #fff;
          font-size: 8.4rem;
          opacity: 0.07;
          left: 1.4rem;
          bottom: -1rem;
        }
        .cs-number {
          p {
            font-size: 2rem;
            color: var(--sub-primary);
            font-weight: 600;
          }
        }
        & > a {
          i {
            color: var(--white);
            margin-left: 0.8rem;
          }
        }
      }
    }
  }

  .end {
    padding: 3.4rem 0;
    .copyright {
      padding-top: 0;
    }
    .end-nav {
      ul {
        display: flex;
        li {
          a {
            font-weight: 400;
            font-size: 1.2rem;
            color: var(--text-color);
          }
        }
        li + li {
          margin-left: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  footer {
    .subscribe-wrap {
      .form-wrap {
        margin: 2rem 1rem 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    .footer-content {
      .support {
        .cs-contact-wrap {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  footer {
    .end {
      > div {
        flex-direction: column;
      }
    }
  }
}
