#main-wraper {
  padding-top: 11rem;
}
.content {
  width: 100%;
  position: relative;
  z-index: 4;
  background: #fff;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  #main-wraper {
    padding-top: 0;
  }
}
